<div class="d-flex justify-content-center align-items-center h-100">
  <div class="card custom-card">
    <div class="card-header">
      <h3>Energizing Wellness Taekwondo Forgot Password</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="formGroup">
        <div class="form-group">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email</mat-label>
            <input
              matInput
              type="email"
              name="email"
              formControlName="email"
              placeholder="Please Enter Your Email"
              aria-describedby="emailHelp"
              [ngClass]="{
                'is-valid': formGroup.controls.email.valid,
                'is-invalid':
                  formGroup.controls.email.invalid &&
                  (formGroup.controls.email.touched ||
                    formGroup.controls.email.dirty)
              }"
            />
          </mat-form-field>
          <div
            *ngIf="
              formGroup.controls.email?.invalid &&
              (formGroup.controls.email?.touched ||
                formGroup.controls.email?.dirty)
            "
          >
            <div *ngIf="formGroup.controls.email.errors?.['required']">
              <p style="color: red">Email address is required</p>
            </div>
            <div *ngIf="formGroup.controls.email.errors?.['email']">
              <p style="color: red">Please Enter correct email format</p>
            </div>
          </div>
          <div *ngIf="formGroup.controls.email?.valid">
            <p>Please Enter e-mail address</p>
          </div>
        </div>
        <button mat-raised-button color="primary" (click)="onSubmit()">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
